/*
Project: School website
Author: Abhijit Barman(Front-end developer at bluewebsurfuer.com)
Written in: HTML, CSS, JS
Project started on: 12th aprill 2021
*/
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone - 600px
- tab-port - 900px
- tab-land - 1200px


ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
:root {
  --color-primary: #00A5EC;
  --color-blue: #00A5EC;
  --color-black: #333333;
  --color-white: rgb(255, 255, 255);
  --color-dark-grey: rgba(0, 0, 0, 0.6);
  --color-light-grey: rgba(196, 196, 196, 0.28);
  --color-light-grey-2: rgb(108, 117, 125);
  --color-light-cyan: rgba(103,204,218,.66);
  --ff-primary: "Raleway", sans-serif;
  --ff-secondary: "Montserrat", sans-serif;
  --ff-tertiary: "Poppins", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-weight: 300;
  color: var(--color-black);
}

.container {
  max-width: 110rem;
  margin: 0 auto;
}

.whychooseus__desc {
  font-size: 1.6rem;
  line-height: 1.3;
  color: var(--color-white);
  font-weight: 300;
}

.hero__title {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: var(--ff-roboto);
  color: var(--color-white);
  line-height: 1.3;
}
@media only screen and (min-width: 37.5em) {
  .hero__title {
    font-size: 3.2rem;
  }
}

.hero__description {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: var(--ff-roboto);
  color: var(--color-white);
  line-height: 1.6;
}
@media only screen and (min-width: 37.5em) {
  .hero__description {
    font-size: 2.1rem;
  }
}

.cs-title {
  display: inline-block;
  font-size: clamp(2.4rem, 2.5vw, 3.6rem);
  font-family: var(--ff-roboto);
  font-weight: 700;
  color: var(--color-black);
}

.cs-title--white {
  color: var(--color-white);
}

.heading-3 {
  font-size: 1.8rem;
  font-family: var(--ff-roboto);
  color: var(--color-black);
}
@media only screen and (min-width: 37.5em) {
  .heading-3 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .heading-3 {
    font-size: 2.2rem;
  }
}

.heading-3--white {
  color: var(--color-white);
}

.service-title {
  font-weight: 500;
}

.step-title {
  font-weight: 500;
}

.service-summary {
  font-size: 1.5rem;
  font-weight: 400;
  align-self: top;
  font-family: var(--ff-secondary);
  color: var(--color-dark-grey);
}
@media only screen and (min-width: 37.5em) {
  .service-summary {
    font-size: 1.6rem;
  }
}

.service-details__title {
  font-size: 2.6rem;
  font-family: var(--ff-roboto);
  color: var(--color-black);
}
@media only screen and (min-width: 37.5em) {
  .service-details__title {
    font-size: 2.8rem;
  }
}
.service-details__desc {
  color: var(--color-dark-grey);
  font-size: 1.6rem;
  font-family: var(--ff-roboto);
  line-height: 26px;
  margin-top: 2.5rem;
}
@media only screen and (min-width: 37.5em) {
  .service-details__desc {
    font-size: 1.8rem;
    line-height: 28px;
  }
}

.big-label__text {
  color: #2e7594;
  font-size: 3.6rem;
  font-family: var(--ff-roboto);
  font-weight: 700;
  text-align: center;
}
@media only screen and (min-width: 37.5em) {
  .big-label__text {
    font-size: 4.4rem;
    text-align: left;
  }
}
@media only screen and (min-width: 56.25em) {
  .big-label__text {
    font-size: 4.8rem;
  }
}

.plans__item-title {
  font-size: 1.6rem;
  font-family: var(--ff-roboto);
  color: var(--color-white);
  display: inline-block;
  background-color: var(--color-blue);
  border-end-start-radius: 4px;
  border-end-end-radius: 4px;
  padding: 0.5rem 3rem;
}
.plans__item-price {
  font-size: 3.5rem;
  font-family: var(--ff-roboto);
  color: var(--color-blue);
  display: inline-block;
}
@media only screen and (min-width: 37.5em) {
  .plans__item-price {
    font-size: 4rem;
  }
}
.plans__item-desc {
  font-size: 1.6rem;
  color: var(--color-light-grey-2);
  font-family: var(--ff-roboto);
  font-weight: 400;
}

.whatwedo__desc {
  font-size: 1.8rem;
  color: --color-light-grey-2;
  font-family: var(--ff-roboto);
  font-weight: 400;
  line-height: 1.6;
}
@media only screen and (min-width: 56.25em) {
  .whatwedo__desc {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .whatwedo__desc {
    font-size: 2.2rem;
  }
}

.footer__list-title {
  font-size: 1.8rem;
  font-family: var(--ff-roboto);
  font-weight: 600;
  color: var(--color-white);
}

.footer-link:link,
.footer-link:visited,
.footer__list-item {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: var(--ff-roboto);
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}

.copyright {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: var(--ff-roboto);
  color: rgba(255, 255, 255, 0.7);
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-33%);
}
@media only screen and (min-width: 37.5em) {
  .vertical-center {
    transform: translateY(-50%);
  }
}

.text-center {
  text-align: center;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-6 {
  margin-bottom: clamp(3rem, 4vw, 6rem);
}

.mt-2 {
  margin-top: 2rem;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  font-weight: 400;
}

.hero__cta {
  font-family: var(--ff-tertiary);
  font-size: 1.8rem;
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 2px solid var(--color-white);
}

.btn--primary:link,
.btn--primary:visited {
  font-family: var(--ff-tertiary);
  font-size: 1.6rem;
  color: var(--color-white);
  padding: 1rem 2rem;
  border: 2px solid var(--color-white);
  background-color: var(--color-primary);
  font-weight: 300;
  transition: all 0.2s;
  border: 1px solid transparent;
}

.btn--primary:hover,
.btn--primary:active {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn--large {
  font-size: 2.6rem;
  padding: 1rem 2rem;
  color: var(--color-white);
  background-color: var(--color-primary);
}
@media only screen and (min-width: 37.5em) {
  .btn--large {
    font-size: 2.8rem;
  }
}
@media only screen and (min-width: 56.25em) {
  .btn--large {
    font-size: 3rem;
  }
}

.btn-submit {
  font-size: 1.6rem;
  outline: none;
  border: none;
  padding: 1rem 2.5rem;
  background-color: var(--color-primary);
  color: var(--color-white);
}

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: #F2F2F2;
  border: none;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  transition: all 0.3s;
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.103);
  border-bottom: 3px solid var(--color-primary);
}
@media only screen and (min-width: 56.25em) {
  .form__input {
    width: 100%;
  }
}
.form__input::-webkit-input-placeholder {
  color: var(--color-light-grey-2);
  font-family: var(--ff-roboto);
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.logo img {
  width: 12rem;
  height: 8rem;
}
@media only screen and (min-width: 37.5em) {
  .logo img {
    width: 15rem;
    height: 10rem;
  }
}

/* NAVIGATION */
.nav {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  z-index: 100;
  padding: 1rem 2rem;
}
@media only screen and (min-width: 56.25em) {
  .nav {
    padding: 0;
    flex-direction: row;
    align-items: center;
  }
}

/* nav and stickly class at the same time */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__links {
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  transition: height 300ms ease;
}
@media only screen and (min-width: 56.25em) {
  .nav__links {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.nav__links.collapsing {
  height: 0;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  .nav__links.collapse,
.btn.collapse {
    display: none;
  }
}

.nav__links.open {
  display: flex;
}

.nav__link:link,
.nav__link:visited {
  font-size: 1.7rem;
  font-weight: 700;
  font-family: var(--ff-roboto);
  color: var(--color-dark-grey);
  text-decoration: none;
  display: block;
  transition: all 0.3s;
  padding: 1.5rem 0;
}
@media only screen and (min-width: 56.25em) {
  .nav__link:link,
.nav__link:visited {
    padding: 1.5rem 2.5rem;
  }
}

.nav__link svg {
  height: 1rem;
  width: 1rem;
  fill: var(--color-dark-grey);
}

.nav-mobile {
  position: absolute;
  display: inline-block;
  top: 3rem;
  right: 2rem;
}
@media only screen and (min-width: 56.25em) {
  .nav-mobile {
    display: none;
  }
}

#nav-toggle {
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--color-black);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

.hero {
  padding: 0 2.5rem;
  background: url("../images/programmer.svg"), url("../images/bg.png");
  background-position: top center, left center;
  background-repeat: no-repeat;
  background-size: 80%, cover;
  height: calc(100vh - 10rem);
}
@media only screen and (min-width: 37.5em) {
  .hero {
    background-position: right center, left center;
    background-size: 50%, cover;
  }
}
.hero__content {
  max-width: 50rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-content: start;
}
@media only screen and (min-width: 37.5em) {
  .hero__content {
    grid-gap: 3rem;
  }
}

.services__grid {
  display: grid;
  grid-gap: 4rem;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 37.5em) {
  .services__grid {
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  }
}

.services__grid-item {
  padding: 1rem;
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "service-img service-title" "service-img service-summ";
  justify-content: center;
  align-content: center;
  grid-column-gap: 1rem;
  box-shadow: 0 0 5px rgba(0, 165, 236, 0.4);
}
@media only screen and (min-width: 37.5em) {
  .services__grid-item {
    padding: 2rem;
  }
}

.service-img {
  grid-area: service-img;
  align-self: center;
}
.service-title {
  grid-area: service-title;
  align-self: center;
}
.service-summary {
  grid-area: service-summ;
  align-self: start;
}

.col-3-grid {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-gap: 4rem;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 56.25em) {
  .col-3-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.whychooseus__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: start;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .whychooseus__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 56.25em) {
  .whychooseus__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
.whychooseus__grid-item {
  display: grid;
  grid-template-columns: 1fr 2.2fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "icon title" "icon desc";
  align-items: start;
  justify-content: start;
}

.whychooseus__icon {
  grid-area: icon;
  justify-self: center;
}

.whychooseus__desc {
  grid-area: desc;
}

.plans__cards {
  display: grid;
  grid-gap: 3.3rem;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 37.5em) {
  .plans__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 56.25em) {
  .plans__cards {
    grid-template-columns: repeat(4, 1fr);
  }
}

.whatwedo__grid {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .whatwedo__grid {
    grid-template-columns: 5.5fr 5fr;
  }
}
.whatwedo__desc {
  order: 2;
}
.whatwedo__img {
  order: 1;
}
@media only screen and (min-width: 37.5em) {
  .whatwedo__desc {
    order: 1;
  }
  .whatwedo__img {
    order: 2;
  }
}

.contactus-grid {
  display: grid;
  align-items: center;
  justify-content: start;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
}
@media only screen and (min-width: 56.25em) {
  .contactus-grid {
    grid-template-columns: 5fr 5.5fr;
  }
}

.footer__grid {
  display: grid;
  justify-items: space-between;
  align-items: start;
  grid-gap: 4rem;
  grid-template-columns: 1fr;
}
@media only screen and (min-width: 37.5em) {
  .footer__grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.services {
  padding: 4rem 2.5rem;
}

.services__wrapper {
  max-width: 92rem;
  margin: 0 auto;
}

.service-img {
  width: 100%;
}

.service-details__wrapper {
  max-width: 92.5rem;
  margin: 0 auto;
}
.service-details__item {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  gap: clamp(3rem, 3.5vw, 4rem);
}
.service-details__item:not(:first-child) {
  margin-top: 3rem;
}
@media only screen and (min-width: 37.5em) {
  .service-details__item:nth-child(odd) {
    grid-template-columns: 1fr 2.06fr;
  }
  .service-details__item:nth-child(odd) .service-details__img {
    order: 1;
  }
  .service-details__item:nth-child(odd) .service-details__text {
    order: 2;
  }
  .service-details__item:nth-child(even) {
    grid-template-columns: 2.06fr 1fr;
  }
  .service-details__item:nth-child(even) .service-details__img {
    order: 2;
  }
  .service-details__item:nth-child(even) .service-details__text {
    order: 1;
  }
}
.service-details__img {
  display: flex;
  border: 1px solid #707070;
  border-radius: 50%;
  overflow: hidden;
  width: 28rem;
  height: 28rem;
}
.service-details__img img {
  width: 100%;
}
.service-details__text {
  padding: 3.5rem 2rem;
  background-color: var(--color-light-grey);
}

.big-label {
  background-color: var(--color-light-cyan);
  padding: 3rem 2.5rem;
}
.big-label__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}
@media only screen and (min-width: 37.5em) {
  .big-label__wrapper {
    flex-direction: row;
    gap: 5rem;
  }
}

.big-label__text {
  flex-basis: 50%;
}

.btn--large {
  flex-basis: 50%;
}

.three-steps {
  padding: 5rem 2.5rem;
}
.three-steps__wrapper {
  max-width: 99rem;
  margin: 0 auto;
}

.three-steps__img {
  width: 28rem;
  height: 28rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  border: 1px solid #707070;
}
.three-steps__img img {
  width: 100%;
}

.whychooseus {
  padding: 5rem 2.5rem;
  background-color: #4BB0C2;
}
.whychooseus__icon i {
  font-size: 5rem;
  color: var(--color-white);
}
@media only screen and (min-width: 37.5em) {
  .whychooseus__icon i {
    font-size: 7rem;
  }
}

.plans {
  padding: 5rem 2.5rem;
}
.plans__item {
  border: 2px solid var(--color-blue);
  padding: 0 1rem 1rem 1rem;
  border-radius: 4px;
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .plans__item {
    grid-gap: 4rem;
  }
}
.plans__item-features {
  display: grid;
  grid-gap: 1.1rem;
  justify-items: center;
}

.whatwedo {
  padding: 2rem 2.5rem;
}
@media only screen and (min-width: 56.25em) {
  .whatwedo {
    padding: 5rem 2.5rem;
  }
}
.whatwedo__img img {
  width: 100%;
}

.contactus {
  padding: 2rem 2.5rem;
}
@media only screen and (min-width: 56.25em) {
  .contactus {
    padding: 5rem 2.5rem;
  }
}

.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  grid-template-areas: "name name" "email email" " phone phone" " message message" "submit submit";
}
@media only screen and (min-width: 37.5em) {
  .form {
    grid-template-areas: "name email" " phone phone" " message message" "submit submit";
  }
}

.name {
  grid-area: name;
}

.email {
  grid-area: email;
}

.phone {
  grid-area: phone;
}

.message {
  grid-area: message;
}

.btn-submit {
  grid-area: submit;
}

.contactus-img img {
  width: 100%;
}

.footer {
  padding: 5rem 2.5rem;
  background-color: var(--color-black);
}

@media only screen and (min-width: 37.5em) {
  .footer__list:nth-child(1) {
    justify-self: start;
  }

  .footer__list:nth-child(2) {
    justify-self: center;
  }

  .footer__list:nth-child(3) {
    justify-self: end;
  }
}
.footer__social {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.footer__social svg {
  width: 2.5rem;
  height: 2.5rem;
  fill: var(--color-white);
  transition: all 0.2s;
}
.footer__social svg:hover, .footer__social svg:active {
  fill: var(--color-primary);
}

.footer__list-item {
  margin-bottom: 1rem;
}

.footer__end {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}
@media only screen and (min-width: 37.5em) {
  .footer__end {
    justify-content: space-between;
    flex-direction: row;
    margin-top: 0;
  }
}