.services__grid{
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: 1fr;

    @include respond(phone){
        grid-template-columns: repeat(auto-fit,minmax(40rem,1fr));
    }
}

.services__grid-item{
    padding: 2rem;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: repeat(2,1fr);
    grid-template-areas: "service-img service-title"
                         "service-img service-summ";
                         justify-content: center;
                         align-content: center;
    grid-column-gap: 1rem;

    box-shadow: 0 0 5px rgba(0, 165, 236, 0.4);

}

.service{
    &-img{
        grid-area: service-img;
        align-self: center;
    }

    &-title{
        grid-area: service-title;
        align-self: center;
    }

    &-summary{
        grid-area: service-summ;
        align-self: start;
    }
}


.col-3-grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 4rem;
    grid-template-columns: 1fr;

    @include respond(tab-port){
        grid-template-columns: repeat(3,1fr);
    }
}


///////////////////////////////////
// WHY CHOOSE US SECTION

.whychooseus__grid{
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: start;
    grid-column-gap: 2.5rem;
    grid-row-gap: 3rem;


    @include respond(phone){
        grid-template-columns: repeat(2,1fr);
    }

    @include respond(tab-port){
        grid-template-columns: repeat(3,1fr);
    }


    &-item{
        display: grid;
        grid-template-columns: 1fr 2.2fr;
        grid-template-rows: 1fr 2fr;
        grid-template-areas: "icon title" "icon desc";
        align-items: start;
        justify-content: start;
    }
}


.whychooseus__icon{
    grid-area: icon;
    justify-self: center;
}

.whychooseus__desc{
    grid-area: desc;
}


///////////////////////////////////
// OUR PLANS SECTION

.plans__cards{
    display: grid;
    grid-gap: 3.3rem;
    grid-template-columns: 1fr;
    @include respond(phone){
        grid-template-columns: repeat(2,1fr);
    }

    @include respond(tab-port){
        grid-template-columns: repeat(4,1fr);
    }
    
}


///////////////////////////////////
// WHAT WE DO SECTION

.whatwedo{

    &__grid{
        display: grid;
        align-items: center;
        justify-content: start;
        grid-template-columns: 1fr;
        grid-gap: 3rem;
    
    
        @include respond(phone){
            grid-template-columns: 5.5fr 5fr;
        }
    }


    &__desc{
        order: 2;
    }

    &__img{
        order: 1;
    }

    @include respond(phone){
        &__desc{
            order: 1;
        }
    
        &__img{
            order: 2;
        }
    }

}

.contactus-grid{
    display: grid;
    align-items: center;
    justify-content: start;
    grid-template-columns: 1fr;
    grid-gap: 3rem;

    @include respond(tab-port){
        grid-template-columns: 5fr 5.5fr;
    }
}


///////////////////////////////////
// FOOTER

.footer__grid{
    display: grid;
    justify-items: space-between;
    align-items: start;
    grid-gap: 4rem;
    grid-template-columns: 1fr;


    @include respond(phone){
        grid-template-columns: repeat(3,1fr);

    }
}