.btn:link,
.btn:visited{
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    font-weight: 400;
}

.hero__cta{
    font-family: var(--ff-tertiary);
    font-size: 1.8rem;
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 2px solid var(--color-white);
    
}


  
.btn--primary:link,
.btn--primary:visited {
    font-family: var(--ff-tertiary);
    font-size: 1.6rem;
    color: var(--color-white);
    padding: 1rem 2rem;
    border: 2px solid var(--color-white);
    background-color: var(--color-primary);
    font-weight: 300;
    transition: all .2s;
    border: 1px solid transparent;
}

.btn--primary:hover,
.btn--primary:active {
    background-color: var(--color-white);
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.btn--large{
    font-size: 2.6rem;
    padding: 1rem 2rem;
    color: var(--color-white);
    background-color: var(--color-primary);

    @include respond(phone){
        font-size: 2.8rem;
    }

    @include respond(tab-port){
        font-size: 3rem;
    }
}

